<div id="list_container">
  <!-- stuff goes here yo -->
</div>
<br>

<div>
<%= form_for(@list,
             remote: true,
             class: "list_form") do |f| %>

<%= f.label :title, "Create New List: " %>
<%= f.text_field :title %>

<%= f.submit "Create List" %>
<% end %>
</div>

<script type="app/json" id="todo_lists">
<%= @todos.to_json(:include => :todo_items).html_safe %>
</script>

<%= File.read("./app/views/todo_lists/_todo_list.html").html_safe %>
<%= File.read("./app/views/todo_lists/_todo_item.html").html_safe %>
<%= File.read("./app/views/todo_lists/_todo_item_form.html").html_safe %>

<script type="text/javascript">
  var TODOS = JSON.parse($("#todo_lists").html());
  var templateCode = $("#todo_list").html();

  var templateFn = _.template(templateCode);
  var renderedTemplateContent = templateFn({ todoLists: TODOS });

  // fill div with anchors and delete buttons
  $("#list_container").html(renderedTemplateContent);

  // listen to delete buttons
  $(".delete_list").on("ajax:success", function(event, data) {

    // remove from global bootstrapped data
    var finder = function(listObj) {
      return String(listObj.id) === String(event.target.id)
    }
    var listObj = _.find(TODOS, finder);
    var index = _.indexOf(TODOS, listObj);
    TODOS.splice(index, 1);


    $(this).parent().remove(); // wtfs goin on
  })

  // listen for clicks
  $(document).ready( function() {
    $("a").click(function(event) {
      if ($(this).attr("class") === "off") {
        // toggle class to make items visible or invisible
        $(this).toggleClass("off");

        // find list Object
        var finder = function(listObj) {
          return String(listObj.id) === String(event.target.id)
        }
        var listObj = _.find(TODOS, finder);

        // get its items
        var todoItems = listObj.todo_items;
        var templateCode = $("#todo_items").html();

        var templateFn = _.template(templateCode);
        var renderedTemplateContent = templateFn({ todoItems: todoItems });

        $(this).parent().append($("<ul>").html(renderedTemplateContent));

        // build form for items and append that too

        var todoListId = event.target.id;
        templateCode = $("#todo_item_form").html();

        templateFn = _.template(templateCode);
        renderedTemplateContent = templateFn({ todoListId: todoListId });

        $(this).parent().append(renderedTemplateContent);

        // once form is appended, listen for a successful submit
        $(".new_item_form").on("ajax:success", function(event, data) {

          // find list Object and add items to it
          var finder = function(listObj) {
            return String(listObj.id) === String(event.target.id)
          }
          var listObj = _.find(TODOS, finder)
          listObj.todo_items.push(data);

          // clear the field
          $(this).find("#item_body").val('');

          // append the newest object to the list
          var templateCode = $("#todo_items").html();

          var templateFn = _.template(templateCode);
          var renderedTemplateContent = templateFn({ todoItems: [data] });

          $(this).parent().find("ul").append(renderedTemplateContent)
        })

      }
      else {
        // toggle off to make items visible or not
        $(this).parent().find("ul").remove();
        $(this).parent().find(".new_item_form").remove();
        $(this).toggleClass("off");
      }

    });

    $("form").on("ajax:success", function(event, data) {
      TODOS.push(data);
      $(this).find("#todo_list_title").val('')

      var templateCode = $("#todo_list").html();

      var templateFn = _.template(templateCode);
      var renderedTemplateContent = templateFn({ todoLists: [data] });

      $("#list_container").append(renderedTemplateContent);
    })

  });

</script>